header{
  background-color: #5755FE;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  padding: 10px;
  color: white;
}

*{
  font-family: Poppin;
}

.left-section h1{
  font-size: 1rem;
  font-weight: 400;
}

.right-section{
  display: flex;
  width: 50%;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2rem;
}

/* Form */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 600px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #453F78;
}
form div{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

form div input{
width: 50%;
padding: 10px;
}

form div select{
  width: 50%;
  padding: 10px;
  }


form button{
border: none;
background-color: orange;
color: white;
border-radius: 10px;
padding: 10px;
margin-top: 20px;
}


.main-form-container h1{
  text-align: center;
  font-size:1.8rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #453F78;
}

.card-operations{
  display: flex;
  width: 100px;
  justify-content: space-between;
  font-size: 1.3rem;
}

.card-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-header p{
  padding-top: 20px;
}

/* Card */

.card{
margin-top: 50px;
margin-left: 20px;
}